myvenv
src/.env
src/result_example
src/data
.env
**/__pycache__/

*.pyc
*.pyo
*.pyd

./src/db
test_tools.py
text_scraper.py
linked_scrapper.py
job.json
cv_summary.md
test_selenium.py
motivation_lette.md
motivation_letter.md
glassdoor_jobs_machine learning engineer.json
